# List files or directories below to ignore them when running prettier
# More information: https://prettier.io/docs/en/ignore.html
#

**/staticresources/
**/pageObjects/

.localdevserver/
.sf/
.sfdx/
.vscode/
coverage/

# Ignore Prettier config itself and legacy SVG failing formatting
.prettierrc
force-app/main/default/aura/pageTemplate_2_7_3/pageTemplate_2_7_3.svg

jsconfig.json